<div class="row mb-4 project">
    <div class="col-md-3">
        <h1>My Favourite Pets</h1>
    </div>
  <div class="col-md-5">
    <h2>
      <a href="/project/{{pet.id}}">{{pet.name}}</a>
    </h2>
    <p> {{pet.species}} </p>
    <p>Gender: {{pet.gender}} </p>
    <p>Age: {{pet.age}} </p>
    <p>Breed: {{pet.breed}} </p>
  </div>

  {{!-- need to figure out how to loop through the "favourited" pets and display in a list --}}
  