<!-- Loop over each object in the projects array -->
{{#each pets as |pet| }}
<div class="row mb-4 project">
    <div class="col-md-3">
        {{!-- add image here --}}
    </div>
  <div class="col-md-5">
    <h2>
      <a href="/project/{{pet.id}}">{{pet.name}}</a>
    </h2>
    <p> {{pet.species}} </p>
    <p>Sex: {{pet.gender}} </p>
    <p>Age: {{pet.age}}</p>
    <p>Breed: {{pet.breed}} </p>
  </div>
  <div class="col-md-7">
    <p>
      {{pet.description}}
    </p>
  </div>
</div>
{{/each}}
