<div class="text-center">
  <h2>Name: {{{name}}}</h2>
  <p>Sex: {{{sex}}}</p>
  <p>Age: {{{age}}}</p>
  <p>Species: {{{species}}}</p>
  <p>Breed: {{{breed}}}</p>
  <p>About {{{name}}}: {{{description}}}</p>
  <p>
    {{!-- img --}}
  </p>
  <p>
    <button class="btn btn-primary">Adopt This Pet!</button>
  </p>
</div>
